<h2>Todas las cervezas son:</h2>
{{#each randomBeer}}
  <img
    src='{{this.image_url}}'
    alt='{{this.name}}'
    height='400px'
    width='300px'
  />
  <h3>{{this.name}}</h3>
  <p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
  <p>{{food_pairing}}</p>
  <p>{{brewers_tips}}</p>

{{/each}}